ol,ul {list-style: none;}
a:link,
a:visited,
a:hover,
a:active{text-decoration:none;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.fr{float:right;}
.fl{float:left;}
.center{width:1200px;margin:-50px auto;}

body{
    margin-top: 50px;
}
#logo{
    width: 45px;
    margin-top: -13px;
}
.bgc{background-color:#f2f2f2;
	border:1px solid #f2f2f2;height:31px;}
.fluid{width:100%;}
.wh{height:31px;}
.nav1{display:block;text-align:center ;
	padding:4px 3px;color:#666;}
.tx2{display:block;text-align:center ;padding:4px 3px;
	color:#666;}
