
/* ================删========================== */
*{
	list-style:none;
	text-decoration:none;
}
.fr{float:right;}
.fl{float:left;}
.center{width:1200px;margin:0px auto;}
.mt10{margin-top:10px;}
.cp{background:pink;}
.cb{background:blue;}
.cg{background:green;}
.cr{background:red;}
.cf{color:#ff4466;}

.bgc{background-color:#f2f2f2;
	border:1px solid #f2f2f2;height:31px;}
.fluid{width:100%;}
.wh{height:31px;}
.nav1{display:block;text-align:center ;
	padding:4px 3px;color:#666;}
.tx2{display:block;text-align:center ;padding:4px 3px;
	color:#666;}
/* header end */

/*购物车*/
.gwc{width:30px;height:100%;background:pink;
	position:fixed;top:0px;right:0px;}

.gwc1{width:20px;height:100%;padding:0px auto;}
.div_gwc1{width:30px;height:38px;float:left;}
.div_gwc2{width:30px;height:93px;
	float:left;margin-top:0px;}
.div_gwc3{width:30px;height:38px;position:fixed;
	bottom:0;	right:0;}
.tx{display:block;padding-top:15px;text-align:center ;
	font-size:16px;font-weight:lighter;color:orange;}
.tx1{display:block;text-align:center ;margin:4px;
	font-size:15px;color:orange;}
.ab a:hover{display:block;height:93px;width:31px; }
/*
 购物车尾部 

  蘑菇街搜索框*/	
.ewm{width:83px;height:83px;}
.ewm img{position:absolute;
	margin-left:105px;margin-top:55px;
	width:83px;height:83px;
	display:block;}
.ss{width:1200px;height:144px;margin-top: 0px;}
.ss1{width:250px;height:144px;}
.ss2{width:950px;height:144px;}
.ss3{width:700px;height:144px;}
.ss4{width:700px;height:70px;}
.ss5{margin-top:35px;margin-left:100px;display:block;}
.ss6{height:19px;width:518px;margin-top:0px;margin-left:100px;}
.ss7 li{font-size:15px;	float:left;padding:0px 10px 0px 0px;}
.ss7 span{display:block;font-size:12px;color:#999999;}
.ss7 span:hover{color:#ff4466;}
.ss8{width:700px;height:36px;}
.ss9{height:36px;width:225px;background-color:#f46;margin-top:20px;}
.ss9 span{display:block;font-size:25px;text-align:center;
		letter-spacing:10px;color:white; }
/*.ss10{font-size:20px;letter-spacing:20px;}*/
.ss10 li{display:block;font-size:20px;float:left;
	/*letter-spacing:20px;*/font-weight:bold;
	color:black;margin:15px 20px ;
	text-align:center;}
.ss11{border-bottom:1px solid red}
.form-control{size:400px;}
.imgs1{margin-top:40px;}


/*蘑菇街搜索框尾部*/
/*nav*/
.nn1{width:1200px;height:38px;margin-top:40px;
	border:1px solid #999999;}
.nn1 li{display:block;float:left;padding:5px 10px;}
.nn1 span{display:block;font-size:20px;color:black;}
/*main*/
.main{width:1200px;height:280px;margin-top:-2px;
	border:1px solid #999999;}
.main1{width:958px;height:280px;}
.main2{width:240px;height:280px;}
.main2 img{margin-top:20px;margin-left:20px;}
.main3{height:280px;width:479px;}
.main4{height:140px;width:479px;}
.main5{height:18px;width:435px;margin-top:30px;
	margin-left:30px;}
.main6{height:96px;width:435px;margin-left:30px;
	margin-top:0px;}
.main7{height:66px;width:66px;margin-top:10px;}
.main7 img{height:66px;width:66px;}
.main8{height:20px;width:365px;margin-top:2px;}
.main8 span{display:block;float:left;margin-right:5px; }
.main8 span:hover{text-decoration:underline;color:#ff4466; }
/*商品*/
.sp{width:1200px;height:38px;margin-top:40px;}
.sp span{font-size:25px;}
.sp2{width:1200px;height:38px;border:1px solid #999999;}
.sp3{width:200px;height:38px;}
.sp3 span{display:block;font-size:20px;float:left;
	margin-right:10px;margin-top:5px; }
.sp4{width:240px;height:38px;}
.sp4 input{display:block;float:left;margin-top:5px;
	width:48px;height:24px;margin-right:10px;}
.sp6{width:350px;height:38px;}
.sp5{width:75px; height:24px;margin-top:5px;
	border:1px solid #999999;margin-left:-1px;}
.sp5 span{display:block;margin-top:2px;
	text-align:center;}
.sp7{width:1200px; height:330px;}
.sp8{width:465px; height:330px;}
.sp9{width:710px; height:330px;}
.sp10{width:220px; height:383px;}
.sp11{width:465px; height:330px;}
.sp12{width:220px;height:20px;margin-top:5px;}
.sp12 p{display:block;margin-left:5px;}
.sp13{width:220px;height:30px;margin-top:5px;}
.sp14{width:80px;height:30px;}
.sp14 p{display:block;text-align:center;margin-top:5px;color:#ff4466;}
.sp14 span{display:block;text-align:center;
	margin-top:5px;color:#999999;margin:7px;
	font-size:12px;}

/*蘑菇服务*/

.mgfw1{height:160px;margin-top:90px;border-top:1px solid #ccc;}
.mgfw{width:1200px;height:160px; 
	border-bottom:1px solid #ccc;margin-top:0px;}
.mgfw2{width:246px;height:160px;}
.mgfw3{width:954px;height:160px;}
.mgfw2 p{display:block;font-size:12px;color:#999999;}
.mgfw5{width:318px;height:160px;}
.mgfw4{width:636px;height:160px;}
.mgfw6{width:212px;height:160px;}
.mgfw7{width:424px;height:160px;}
.mgfw6 span{display:block;color:#999999;}
.mgfw6 span:hover{display:block;color:pink;}
.mgfw5 img{float:left;}
/*蘑菇服务尾部 */


/*页脚服务*/

.yj{width:1200px;height:25px;margin-top:0px;} 
.yj span{float:left;display:block;margin:0px 3px;font-size:13px;color:#999999;}
.yj a span:hover{color:#ff0078;}
/*页脚尾部 */











/* ========================================= */
